* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background: url('../img/bg.jpg') no-repeat;
    background-size: cover; */
    background: rgb(219,107,156);
    background: radial-gradient(circle, rgba(219,107,156,1) 0%, rgba(87,156,237,1) 100%);
}

.box {
    width: 700px;
    background: rgba(0, 0, 0, 0.623);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.box-img {
    border-radius: 100%;
    
    width: 200px;
    height: 200px;
}



.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0%;
    
}

.box li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 0.25s;
    
}

.box li:first-child a:hover {
    color: #4680C2;
}

.box li:last-child a:hover {
    color: #000000;
}

.box li:nth-child(2) a:hover {
    color: #000000;
}

.box li:last-child a:hover {
    color: #0e76a8;
}